/src/index.html~
/src/DroneIT.js~
/index.html~
/DroneIT.js~
/.gitignore~
/shellscript/images/**
/shellscript/outimages/**
/shellscript/tmp/**
/commandlist~
/shellscript/doPull.sh~
/shellscript/doOCR.sh~
/shellscript/doFTP.txt~
/Source/CBebopInterface.h~
/Source/main.cpp~
/Source/CNetworkSettings.h~
/Source/CBebopInterface.cpp~
/Build/makefile~
/Build/logs/myeasylog.log
/Build/Source/main.d
/Build/Source/CVehicleInterface.o
/Build/Source/CVehicleInterface.d
/Build/Source/CNetworkSettings.o
/Build/Source/CNetworkInterface.o
/Build/Source/CNetworkInterface.d
/Build/Source/CCommandPacket.o
/Build/Source/CCommandPacket.d
/Build/Source/CBebopInterface.o
/Build/Source/CBebopInterface.d
/Build/BebopRebopAPI
/Build/Source/CNetworkSettings.d
/Build/Source/main.o
